In [ ]:
'''
This is how you add multiline comment
and use '#' for single line comment

Bye
'''

# Python Tutorial  Single # markdown

## Welcome  double # for heading

- Datatypes  used dash for this

In [ ]:
1+1

In [ ]:
10**2 #10 square

In [ ]:
10 * 'Str'

In [ ]:
type(1)

In [ ]:
a = "Hello, World!"
print(len(a))

In [ ]:
a = 1
print(type(a))

In [ ]:

a = ['s',2,4]
print(type(a))

In [ ]:
type(True)

In [ ]:
mystr = 'shalmali limbkar'
print(mystr.isalnum()) 
print(mystr.isalpha()) 
print(mystr.isdigit()) 
print(mystr.islower()) 
print(mystr.isupper()) 
print(mystr.isnumeric()) 
print(mystr.isdecimal()) 
print(mystr.endswith('r')) 
print(mystr.startswith('s'))
print(mystr.isspace())
print(mystr.istitle()) #if it has any capital?

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
False or False

## List

In [ ]:
a = ['s',2,4]
print(type(a))

## Apend

In [ ]:
a.append("akshay")

In [ ]:
a

In [ ]:
#Indexing in list starts with zero
a[1]

In [ ]:
#to pick range from list
a[1:]

In [ ]:
a[1:3]

In [ ]:
a.append(["harami", "shal"]) #This will get appended as a new list. Nested list

In [ ]:
a

## Insert in list

In [ ]:
a=['s', 2, 4, 'akshay', ['harami', 'shal']]
a.insert(1,"sufi")
a.append(["hello", "world"])
a

## Extend method

In [ ]:
a= [1,2,4,5,6]
a.extend([8,87]) #unlike append, I am adding as a list but getting added as a numbers only not the lIST
a

In [ ]:
sum(a) #adding list elements

## Pop

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a.pop(0)
a

In [ ]:
a.count(2) #Count the occurances of 2

In [ ]:
len(a)

In [ ]:
a.index #Index: returns the index of first occurance , start and end parameters are not necessary

In [ ]:
a.index(1)

In [ ]:
a.index(2)

In [ ]:
b= [1,1,2,4,5,6,1]
b.index(1,1,6) #Find 1 starting from 1st index to 5th index. It will give the first occurance

In [ ]:
min(b)

In [ ]:
max(b)

In [ ]:
b*2 #this will append the list twice . will not multiply the each number from the list

## SETS

In [ ]:
SetVar = set()    #Defining sets
print(SetVar)
print(type(SetVar))

In [ ]:
set_var = {1,2,3,4,3,5}   #even though duplicate 3, it will not get printed 
set_var

In [ ]:
set_var= {'akshay','shalmali','adu'}
print(set_var)
print(type(set_var))

In [ ]:
#Indexing Set does not support any Indexing

#inbuilt functions

set_var= {'akshay','shalmali','adu'}
set_var.add('Hulk')                     #add function
print(set_var)

set_var.

In [ ]:
set1= {'akshay','shalmali','adu'}
set2= {'akshay','shalmali','adu', 'sharri', 'vinit'}

set2.difference(set1)  #from set 2 , remove the matching with set 1, But this will not update the set2 permentantly.

In [ ]:
set1= {'akshay','shalmali','adu'}
set2= {'akshay','shalmali','adu', 'sharri', 'vinit'}
set2.intersection(set1)

In [ ]:

set2.difference_update(set1)  #this will update out set2 in real

In [ ]:
set2

## Dictionary

In [ ]:
dic= {}
type(dic)
type(dict())

In [ ]:
my_dic ={"car1":"bmw","car2":"audi","car3":"porsche"}
my_dic

In [ ]:
type(dict())

In [ ]:
my_dic['car1']    #with the help of key, data can be retrived

In [ ]:
for x in my_dic:  # loop thr keys. By default it will loop thr keys
    print(x)

In [ ]:
for x in my_dic.values(): # loop thr values. 
    print(x)

In [ ]:
# loop thr Both keys and values.
for x in my_dic.items():
    print(x)

In [ ]:
#adding items in Dictionary:
my_dic['car4'] = 'tata'
print(my_dic)

In [ ]:
my_dic['car1']='Nissan'  #replacing value
my_dic

## Nested Dictionary

In [ ]:
car1_model={'maruti alto':800}
car2_model={'audi': 2.0}
car3_model ={'porsche': 911}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

print (car_type)

In [ ]:
##accessing the exact model number 800
print(car_type['car1'])

In [ ]:
print(car_type['car1']['maruti alto'])

## Tuple

In [ ]:
my_tuple= tuple()
print(type(my_tuple))

In [ ]:
my_tuple= ('aa','bb','cc')
my_tuple

In [ ]:
my_tuple.index('aa')  #Indexing in tuple

In [ ]:
my_tuple.count('bb')

# NumPy

In [ ]:
#install numpy :
pip install numpy
conda install numpy

In [ ]:
import numpy as np

In [ ]:
my_lst=[1,2,3,4,5]    #this will convert your list into array
ar=np.array(my_lst)

In [ ]:
type(my_lst)

In [ ]:
type(ar)

In [ ]:
ar

In [ ]:
print(ar)

In [ ]:
ar.shape   #one dimensional array

In [ ]:
lst1=[1,2,3,8]
lst2=[3,4,5,8]
lst3=[6,7,8,4]
arr=np.array([lst1,lst2,lst3])
print(arr)  #double brackets means two dimensions, if 3D, 3 brackets would be there in output

In [ ]:
arr.shape  #rows,column

In [ ]:
arr.reshape(4,3) #MULTIPLICATION MUST BE SAME TO RESHAPE TO ANY

In [ ]:
#Accessing the element ---- indexing starts from zero
arr=np.array([1,2,3,4,5,6,7,8])
arr

In [ ]:
arr[2]

In [ ]:
lst1=[1,2,3,8]
lst2=[3,4,5,8]
lst3=[6,7,8,4]
arr=np.array([lst1,lst2,lst3])
print(arr)

In [ ]:
arr[:,:]   #indexing all rows and all columns . As nothing is passed it will display all the records

In [ ]:
arr[:,2:]

In [ ]:
arr[0:2,0:2]

In [ ]:
arr[1:,2:] #or arr[1:3,2:] Or arr[1:3,2:3]

In [ ]:
arr=np.arange(0,10,step=2) #step for increment 
arr

In [ ]:
arr=np.linspace(1,10,50) #equally spaced array creation. 
arr

In [ ]:
##Copy funcation:

arr[3:]=100
arr

In [ ]:
arr=np.array([1,2,3,4,5,6,7,8])
arr

In [ ]:
arr1=arr     ##copy
arr1